<main class="container">
  <div class="header">
    <h1> Quotes </h1>
    <%= link_to "New quote", new_quote_path,
      data: {turbo_frame: dom_id(Quote.new)},
      class: "btn btn--primary" %>
  </div>

  <%= turbo_frame_tag Quote.new %>

  <%= turbo_frame_tag "quotes" do %>
    <%= render @quotes %>
  <% end %>

  <%#= turbo_frame_tag "load_more_quote" do %>
  <%# end %>
  <%= turbo_frame_tag "load_more_quote" do %>
    <%= button_to "Load more", append_quotes_path(page: @page + 1),
      method: :post,
      data: {turbo_frame: "load_more_quote"},
      class: "btn btn--primary" %>
    <%= link_to "Link", append_quotes_path(page: @page + 1),
      data: {controller: "link", action: "link#click"},
      class: "btn btn--primary" %>
  <% end %>

</main>